<a href="https://colab.research.google.com/github/indraneelray/ece-gy-6143-machine-learning/blob/master/mlhw2q4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Upload files to colab

In [0]:
from google.colab import files
uploaded = files.upload()

Read training data from csv

In [0]:
import pandas as pd

names = ['t',# Time (secs)
        'q1', 'q2', 'q3', # Joint angle
        'dq1', 'dq2', 'dq3',# Joint velocity
        'I1', 'I2', 'I3',# Motor current (A)
        'eps21', 'eps22', 'eps31', 'eps32',# Strain measurements
        'ddq1', 'ddq2', 'ddq3'# Joint accelerations
        ]


df = pd.read_csv('exp_train.csv', header=None,sep=',',names=names, index_col=0)

df.head(6)

            q1      q2      q3  ...          ddq1           ddq2          ddq3
t                               ...
0.00 -0.000007  2.4958 -1.1345  ... -9.904900e-19 -6.210306e-319  4.917400e-27
0.01 -0.000007  2.4958 -1.1345  ...  4.248100e-19 -1.766878e-319 -1.381100e-27
0.02 -0.000007  2.4958 -1.1345  ...  3.233800e-19 -4.990557e-320 -4.117300e-28
0.03 -0.000007  2.4958 -1.1345  ...  1.500500e-19 -1.394253e-320 -1.173100e-28
0.04 -0.000007  2.4958 -1.1345  ...  5.932400e-20 -3.581976e-321 -3.770800e-01
0.05 -0.000007  2.4958 -1.1345  ...  2.164600e-20 -1.141292e-321  2.930300e-01

[6 rows x 16 columns]

In [0]:
X_train = df[['q2','dq2','eps21', 'eps22', 'eps31','eps32','ddq2']]
X_train.head(4)

          q2            dq2   eps21   eps22   eps31    eps32           ddq2
t
0.00  2.4958 -4.940656e-321 -269.25 -113.20  3.5918  1.57860 -6.210306e-319
0.01  2.4958 -4.940656e-321 -270.91 -116.05  1.4585 -1.73980 -1.766878e-319
0.02  2.4958 -4.940656e-321 -269.25 -112.97  3.5918  0.86753 -4.990557e-320
0.03  2.4958 -4.940656e-321 -269.97 -114.39  1.6956 -0.08059 -1.394253e-320

In [0]:
y_train = df[['I2']]
y_train.head(4)

           I2
t
0.00 -0.40812
0.01 -0.37241
0.02 -0.40302
0.03 -0.43703

In [0]:
df.shape

(8000, 16)

Import test

In [0]:
df2 = pd.read_csv('exp_test.csv', header=None,sep=',',names=names, index_col=0)

X_test = df2[['q2','dq2','eps21', 'eps22', 'eps31','eps32','ddq2']]
X_test.head(4)

          q2            dq2   eps21   eps22    eps31    eps32           ddq2
t
0.00  1.9024  4.940656e-321 -130.83 -41.856  -6.3635  5.13410  6.210306e-319
0.01  1.9024  4.940656e-321 -138.18 -51.100 -14.6590 -5.05820  1.766878e-319
0.02  1.9024  4.940656e-321 -139.36 -51.812 -14.6590 -5.29520  4.990557e-320
0.03  1.9024  4.940656e-321 -135.57 -48.019 -11.3410 -0.79168  1.394253e-320

In [0]:
y_test = df2[['I2']]
y_test.head(4)

           I2
t
0.00 -0.15134
0.01 -0.11903
0.02 -0.13944
0.03 -0.15304

Fitting a linear model

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

regressor = LinearRegression()  
regressor.fit(X_train, y_train)

y_pred = regressor.predict(X_test)
y_train_pred = regressor.predict(X_train)

rmse1 = mean_squared_error(y_train, y_train_pred)
print ("MSE for Y Train: " + str(rmse1))
# model evaluation
rmse = mean_squared_error(y_test, y_pred)
print ("MSE for Y Test: " + str(rmse))
r2 = r2_score(y_test, y_pred)
r2_train = r2_score(y_train, y_train_pred)
print("r2 for Y Train: " + str(r2_train))
print("r2 for Y Test: " + str(r2))

MSE for Y Train: 0.010936466882766276
MSE for Y Test: 0.009723098281465446
r2 for Y Train: 0.9041673613876681
r2 for Y Test: 0.8732195119523758