In [0]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split , KFold
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import r2_score
from sklearn.preprocessing import MinMaxScaler

In [28]:
boston_dataset = load_boston()
boston = pd.DataFrame(boston_dataset.data,columns=boston_dataset.feature_names)
boston['MEDV'] = boston_dataset.target
boston.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Split into training and testing sets.

In [0]:
X = boston.drop('MEDV',axis=1)
Y = boston['MEDV']

scaler = MinMaxScaler(feature_range=(0, 1))
rescaledX = scaler.fit_transform(X)

X_train,X_test,Y_train,Y_test=train_test_split(rescaledX,Y, test_size=0.2, random_state=3)

Calculate r2

In [0]:
def calculate_r2(y,y_p):
    ssr = np.sum((y_p-y)**2)
    sst = np.sum((y-y.mean())**2)
    r2 = 1-(ssr/sst)
    return r2

In [26]:
rr = Ridge(alpha=0.01)

r2_s=[]
for i in range(10):
  X_train,X_test,y_train,y_test=train_test_split(rescaledX,Y, test_size=0.2, random_state=i)
  rr.fit(X_train, y_train)
  pred_y = rr.predict(X_test)
  r2_s.append(calculate_r2(y_test, pred_y))

print("r2_square",np.mean(r2_s))

RR r2_square 0.7123276318457693

In [33]:
print(model.score(X_test,Y_test))

0.7961286663181887